.user-dashboard {
    display: flex;
    height: 100vh;
    background-color: #000;
  }
  
  .main-content {
    flex: 1;
    color: #fff;
  }
  
  .sidebar {
    width: 250px;
    background-color: #111;
    color: #fff;
    padding: 20px;
  }
  
  .sidebar h2 {
    color: #fff;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar ul li {
    padding: 10px 0;
    cursor: pointer;
  }
  
  .sidebar ul li:hover {
    background-color: #222;
  }
  
  .header {
    padding: 20px;
    background-color: #222;
  }
  
  .header h1 {
    color: #fff;
  }
  
  .content {
    padding: 20px;
    background-color: #333;
  }
  